.slider__section {
  position: relative;
  width: 100%;
}
.slider__section .slider__image {
  width: 100%;
}
.slider__section .prev__button, .slider__section .next__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
}
.slider__section .prev__button {
  left: 0;
}
.slider__section .next__button {
  right: 0;
}
.dot__container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

